!modules/dev/ides/nixvim/plugins/remote-nvim.nix
.claude
result
.task/**
.history
**/.local
media/wallpapers
!**/**/.gitkeep
.vscode
localai/*
fonts/
haveno/*
**/*.oggs
**/.mcp.json
**/*.json
**/*.txt
.sops.yaml
secrets.yaml
**/.opencode/**
